.form {
  display: flex;
  align-items: center;
  margin-top: 20px;

  input {
    width: 80%;
    height: 25px;
    padding: 5px;
    padding-left: 20px;
    font-size: 18px;
    border: 2px solid white;
    border-radius: 20px;

    &:focus,
    &:hover {
      outline: none;
      border: 2px solid rgb(228, 227, 227);
    }
  }

  button {
    font-size: 20px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 15px;
    background-color: white;

    &:hover {
      background-color: rgba(154, 197, 233, 0.6);
      cursor: pointer;
    }

    &:disabled {
      color: gray;
      background-color: rgb(199, 196, 196);
      cursor: auto;
    }
  }
}
