.app {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;

  .content {
    margin-top: 150px;
    width: 30%;

    p {
      margin-top: 10px;
      color: white;
    }
    .title {
      display: flex;
      align-items: center;
    }
      .icon {
        font-size: 40px;
        margin-right: 10px;
      }
  }
}
